.list-dots li button:before {
    content: '' !important;
    display: block;
    height: 8px !important;
    width: 32px !important;
    background-color: #9aa6af;
    border-radius: 4px;
    margin-right: 4px;
    transition: width .3s linear,background-color .3s linear;
}

.list-dots li {
    margin: 0 12px;
    width: 25px;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    width: 40px !important;
}

.slick-dots li button:hover:before {
    opacity: 0.55;
}